@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto+Mono&family=IBM+Plex+Sans+KR:wght@500&display=swap");
@import "./main.css";
/* @import "./style.css"; */


/* 

Avalon Template 

https://templatemo.com/tm-513-avalon

*/

#indexTitle {
  /* font-family: 'Roboto Mono', monospace; */

    font-weight: 00;
}

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto Mono', monospace; */
    /* font-family: 'Open Sans', arial, sans-serif; */
    font-family: 'Nanum Gothic', sans-serif;
  }
  
  body {
  overflow-x: hidden;
  background-color: #fff;
  }
  
  ul {
  list-style: none;
  margin: 0px;
  }
  
  p {
  font-size: 13px;
  line-height: 22px;
  color: #4a4a4a;
  }
  
  .nnav a{
    font-family: 'IBM Plex Sans KR', sans-serif;
  }
  
  .white-border-button a {
  padding: 14px 20px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s;
  }
  
  .pink-button a {
  padding: 14px 20px;
  background-color: #b94e5e;
  border-radius: 30px;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s;
  }
  
  .white-button a {
  padding: 14px 20px;
  background-color: #fff;
  border-radius: 30px;
  color: #121212;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s;
  }
  
  
  .banner .col-md-8 {
  padding-left: 0px;
  padding-right: 5px;
  }
  
  .banner .col-md-4 {
  padding-right: 0px;
  padding-left: 5px;
  }
  
  
  .banner .left-banner-content {
  padding-top: 175px;
  padding-bottom: 175px;
  padding-left: 120px;
  text-align: left;
  background-image: url('../layout/assets/img/main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 680px;
  height: 680px;
  font-family: 'IBM Plex Sans KR', sans-serif;
  }
  
  .left-banner-content h6 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  }
  
  .left-banner-content h1 {
  font-size: 64px;
  font-weight: 300;
  color: #fff;
  line-height: 70px;
  font-family: 'IBM Plex Sans KR', sans-serif;
  }
  
  .left-banner-content .line-dec {
  width: 60px;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #cbd4c4;
  font-family: 'IBM Plex Sans KR', sans-serif;
  }
  
  .left-banner-content .white-border-button {
  margin-top: 52px;
  font-family: 'IBM Plex Sans KR', sans-serif;
  
  }
  
  .right-banner-content {
  padding: 100px 45px;
  background-color: #cbd4c4;
  text-align: center;		
  min-height: 680px;
  height: 680px;
  }
  
  .right-banner-content h3 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  margin-bottom: 5px;
  font-family: 'IBM Plex Sans KR', sans-serif;
  }
  
  .right-banner-content .line-dec {
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 30px auto;
  }
  
  .right-banner-content span {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.5px;
  font-family: 'IBM Plex Sans KR', sans-serif;
    }
  
.right-banner-content input {
    font-family: 'IBM Plex Sans KR', sans-serif;
}

  .right-banner-content em {
  font-style: normal;
  font-weight: 700;
  }
  
  .right-banner-content p {
  font-style: italic;
  font-size: 13px;
  color: #fff;
  }
  
  .right-banner-content .social-icons {
  margin-top: 40px;
  padding: 0;
  list-style: none;
  }
  
  .right-banner-content .social-icons li {
  display: inline-block;
  margin: 0px 3px;
  }
  
  .right-banner-content .social-icons li a {
  width: 36px;
  height: 36px;
  text-align: center;
  display: inline-block;
  line-height: 36px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.5s;
  color: #f4bc51;
  font-size: 17px;
  }
  
  .right-banner-content .social-icons li a:hover {
  background-color: #d59b2b;
  }
  
  
/* style.css */

#header {
  height: 70px;
  z-index: 997;
  transition: all 0.5s ease-in-out;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 0;
  font-weight: 600;
  letter-spacing: 1px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #3c4133;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px 0 10px 30px; */
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #565e49;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #94c045;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #94c045;
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #9fc658;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 28px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #94c045;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #3c4133;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(34, 36, 29, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #3c4133;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #94c045;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #94c045;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 0;
}

.breadcrumbs .breadcrumb-hero {
  text-align: center;
  background: #94c045;
  padding: 20px 0;
  color: #fff;
}

.breadcrumbs .breadcrumb-hero h2 {
  font-size: 32px;
  font-weight: 500;
}

.breadcrumbs .breadcrumb-hero p {
  font-size: 14px;
  margin-bottom: 0;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 30px 0;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #565e49;
  content: "/";
}


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #94c045;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(60, 65, 51, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(60, 65, 51, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #c0da91;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #94c045;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #94c045;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(60, 65, 51, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}
