@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Roboto+Mono&display=swap");

/* 

Avalon Template 

https://templatemo.com/tm-513-avalon

*/


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    /* font-family: 'Open Sans', arial, sans-serif; */
  }

  
  ul {
  list-style: none;
  margin: 0px;
  }
  
  p {
  font-size: 13px;
  line-height: 22px;
  color: #4a4a4a;
  }
  
  .nnav a{
    font-family: 'IBM Plex Sans KR', sans-serif;
  }
  
  .white-border-button a {
  padding: 14px 20px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s;
  }
  
  .pink-button a {
  padding: 14px 20px;
  background-color: #b94e5e;
  border-radius: 30px;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s;
  }
  
  .white-button a {
  padding: 14px 20px;
  background-color: #fff;
  border-radius: 30px;
  color: #121212;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s;
  }
  
  